{{#resume.basics}}
<section id="basics">
  <div class="contact">
    {{#if website}}
    <div class="website">
      <strong>Website</strong>
      {{website}}
    </div>
    {{/if}}
    {{#if email}}
    <div class="email">
      <strong>Email</strong>
      {{email}}
    </div>
    {{/if}}
    {{#if phone}}
    <div class="phone">
      <strong>Phone</strong>
      {{phone}}
    </div>
    {{/if}}
  </div>
</section>
{{/resume.basics}}