{{#resume.basics}}
<div data-tilt data-tilt-mouse-event-element="#splash" id="name" aria-label="{{name}}"></div>
<noscript>Without Javascript, this page does not function correctly. Please enable Javascript.</noscript>

<a class="nav-link out" href="#" onclick="document.querySelector('#about-me').classList.add('in')">About Me</a>
<a class="nav-link out" href="#" onclick="document.querySelector('#my-work').classList.add('in')">My Work</a>
<a class="nav-link out" href="#" onclick="document.querySelector('#experience').classList.add('in')">Experience</a>
<a class="nav-link out" href="#" onclick="document.querySelector('#contact-me').classList.add('in')">Contact Me</a>

<script>
  let FONT_SIZE =
    window.matchMedia("(max-width:530px)").matches ? window.matchMedia("(max-width:410px)").matches ? window.matchMedia("(max-width:345px)").matches ? 18 : 24 : 32 : 46;

  new Vara("#name", "https://raw.githubusercontent.com/akzhy/Vara/af84697e824bb7b73ea3893fe675fd3db0b4e001/fonts/Shadows-Into-Light/shadows-into-light.json", [{
    text: "{{name}}",
    id: "nameSplash",
  }], {
    fontSize: FONT_SIZE,
    strokeWidth: 4,
    textAlign: "center",
    letterSpacing: 5,
    duration: 3000,
    delay: 1000,
    color: "#eb5f8e"
  }).animationEnd((id, obj) => {
    if (id === "nameSplash") {
      console.info("Name animation complete, showing nav links")
      document.querySelectorAll(".nav-link.out").forEach(el => { el.classList.remove("out") })
    }
  });

  window.addEventListener("resize", () => {
    clearTimeout(window.resizedFinished);
    FONT_SIZE =
      window.matchMedia("(max-width:530px)").matches ? window.matchMedia("(max-width:410px)").matches ? window.matchMedia("(max-width:345px)").matches ? 18 : 24 : 32 : 46;

    window.resizedFinished = window.setTimeout(() => {
      document.querySelectorAll("#name svg").forEach(el => { el.remove() });

      new Vara("#name", "https://raw.githubusercontent.com/akzhy/Vara/af84697e824bb7b73ea3893fe675fd3db0b4e001/fonts/Shadows-Into-Light/shadows-into-light.json", [{
        text: "{{name}}",
        id: "nameSplash",
      }], {
        fontSize: FONT_SIZE,
        strokeWidth: 4,
        textAlign: "center",
        letterSpacing: 5,
        duration: 0,
        delay: 0,
        color: "#eb5f8e"
      }).animationEnd((id, obj) => {
        if (id === "nameSplash") {
          document.querySelectorAll(".nav-link.out").forEach(el => { el.classList.remove("out") })
        }
      });
    }, 250);
  }, { passive: true })
</script>
{{/resume.basics}}