* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #fff;
}
html {
  background-color: #282828;
  height: 100vh;
  width: 100vw;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body .page {
  -webkit-transition-property: transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 1s;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 1s;
  -o-transition-timing-function: ease-out;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
body #splash {
  height: 100vh;
  width: 100vw;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #splash #name {
  width: 100%;
  min-height: 200px;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #splash #name svg {
  overflow: visible;
}
body #splash .nav-link {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;
  letter-spacing: 4px;
  line-height: 1;
  position: fixed;
  cursor: pointer;
  color: #fcc31e;
  display: block;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 250ms;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 250ms;
  -o-transition-timing-function: ease-out;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
body #splash .nav-link:not(:nth-of-type(3))::after,
body #splash .nav-link:nth-of-type(3)::before {
  content: "";
  display: block;
  border-style: solid;
  border-color: rgba(252, 195, 30, 0.25);
  border-width: 0 3px 3px 0;
  margin: auto;
  height: 16px;
  width: 16px;
  -webkit-transition-property: border-color;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: border-color;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: border-color;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: border-color;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: ease-out;
  transition-property: border-color;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}
body #splash .nav-link:hover::after {
  border-color: rgba(252, 195, 30, 0.75);
}
body #splash .nav-link:nth-of-type(even) {
  writing-mode: rl-tb;
  writing-mode: vertical-rl;
}
body #splash .nav-link.out {
  transform: scale(0) !important;
}
body #splash .nav-link.out:nth-of-type(4) {
  transform: scale(0) rotate(180deg) !important;
}
body #splash .nav-link:nth-of-type(1) {
  padding-top: 24px;
  top: -8px;
  transform: scale(1);
}
body #splash .nav-link:nth-of-type(1)::after {
  transform: rotate(45deg);
  -webkit-transition-property: transform;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 250ms;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 250ms;
  -o-transition-timing-function: ease-out;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
body #splash .nav-link:nth-of-type(1):hover::after {
  transform: rotate(45deg) translate(16px, 16px);
}
body #splash .nav-link:nth-of-type(1):hover {
  transform: scale(1) translateY(8px);
}
body #splash .nav-link:nth-of-type(2) {
  padding-right: 24px;
  right: -8px;
  transform: scale(1);
}
body #splash .nav-link:nth-of-type(2)::after {
  transform: rotate(135deg);
  -webkit-transition-property: transform;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 250ms;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 250ms;
  -o-transition-timing-function: ease-out;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
body #splash .nav-link:nth-of-type(2):hover::after {
  transform: rotate(135deg) translate(16px, 16px);
}
body #splash .nav-link:nth-of-type(2):hover {
  transform: scale(1) translateX(-8px);
}
body #splash .nav-link:nth-of-type(3) {
  padding-bottom: 24px;
  bottom: -8px;
  transform: scale(1);
}
body #splash .nav-link:nth-of-type(3)::before {
  transform: rotate(-135deg);
  -webkit-transition-property: transform;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 250ms;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 250ms;
  -o-transition-timing-function: ease-out;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
body #splash .nav-link:nth-of-type(3):hover::before {
  transform: rotate(-135deg) translate(16px, 16px);
}
body #splash .nav-link:nth-of-type(3):hover {
  transform: scale(1) translateY(-8px);
}
body #splash .nav-link:nth-of-type(4) {
  transform: scale(1) rotate(180deg);
  padding-right: 24px;
  left: -8px;
}
body #splash .nav-link:nth-of-type(4)::after {
  transform: rotate(135deg);
  -webkit-transition-property: transform;
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 250ms;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 250ms;
  -o-transition-timing-function: ease-out;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
body #splash .nav-link:nth-of-type(4):hover::after {
  transform: rotate(135deg) translate(16px, 16px);
}
body #splash .nav-link:nth-of-type(4):hover {
  transform: scale(1) translateX(8px) rotate(180deg);
}
