@accent-yellow: #fcc31e;
@accent-pink: #eb5f8e;

@background: #282828;
@text: #fff;

.transition ( @property, @duration, @style: ease-in-out ) {
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @style;

  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -moz-transition-timing-function: @style;

  -ms-transition-property: @property;
  -ms-transition-duration: @duration;
  -ms-transition-timing-function: @style;

  -o-transition-property: @property;
  -o-transition-duration: @duration;
  -o-transition-timing-function: @style;

  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @style;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: @text;
}

html {
  background-color: @background;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .page {
    .transition(~"transform", 1s, ease-out);
  }
}

@import "name-splash.less";
