@import "constants.less";

.transition ( @property, @duration, @style: ease-in-out ) {
  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @style;

  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -moz-transition-timing-function: @style;

  -ms-transition-property: @property;
  -ms-transition-duration: @duration;
  -ms-transition-timing-function: @style;

  -o-transition-property: @property;
  -o-transition-duration: @duration;
  -o-transition-timing-function: @style;

  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @style;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: lighten(@background, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: @text;
}

html {
  background-color: @background;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .page {
    .transition(~"transform", @long-transition, ease-out);
    background: lighten(@background, 5%);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    .back-container {
      border-top: @light-accent;
      position: static;
      bottom: 0;
      left: 0;
      right: 0;
      height: 48px;
      background: @dark-accent;
      display: flex;
      align-items: center;
      justify-content: center;

      a.go-back {
        display: block;
        border-style: solid;
        border-color: fade(@accent-yellow, 50%);
        border-width: 0 3px 3px 0;
        height: 16px;
        width: 16px;
        transform: translateY(5px) rotate(-90deg - 45deg);
        .transition(~"transform, border-color", @short-transition, ease-out);

        &:hover {
          border-color: @accent-yellow;
          transform: translateY(5px) scale(1.33) rotate(-90deg - 45deg);
        }
      }
    }
  }

  section.page {
    background-color: @dark-accent;
    outline: lighten(@background, 5%) 1px solid;
    overflow-y: auto;

    // About Me
    &:nth-of-type(1) {
      transform: translate(0, -100%);
    }

    // My Work
    &:nth-of-type(2) {
      transform: translate(100%, 0);
    }

    // My Work
    &:nth-of-type(3) {
      transform: translate(0, -100%);
    }

    // Contact Me
    &:nth-of-type(4) {
      transform: translate(-100%, 0);
    }

    &.in {
      transform: translate(0, 0);
    }
  }
}

mark,
.highlight {
  color: inherit;
  background: linear-gradient(
    180deg,
    transparent 50%,
    fade(@accent-pink, 30%) 50%,
    fade(@accent-pink, 30%) 95%,
    transparent 95%
  );
}

@import "name-splash.less";
@import "about.less";
@import "work.less";